@import "~bulma/sass/utilities/initial-variables";
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');

// Config vars
// Kaldi logo brand color: #FD461E
$kaldi-red: #D64000;
$kaldi-red-invert: #fff;

$primary: $kaldi-red;
$primary-invert: $kaldi-red-invert;
$body-color: #333;
$black: #2b2523;
$color-body-font: #f5f5f7;

.navbar .navbar-menu {
  box-shadow: none !important;
  justify-content: space-between;
  margin-top: 20px;
}


.logo-container, .mobile-logo-container {
  width: 200px;
  margin-right: 150px;
}

.mobile-logo-container {
  margin-top: 20px;
  margin-left: 20px;
}

.divider-bar, .blurb-divider-bar, .menu-divider-bar, .job-divider-bar, .about-divider-bar{
  color: #fff;
  position: relative;
  z-index: 1;
  height: .3vh;
  width: 100%;
}

.about-divider-bar {
  background: #009397;
}

.job-divider-bar {
  background: #006479;
}

.menu-divider-bar {
  background: #E3630E;
}

.divider-bar {
  background: #BFC800;
}

.blurb-divider-bar {
  background: #E3630E;
}

.blurb-container {
  display: flex;
  flex-wrap: wrap;
}

.blurb-card {
  display: flex;
  flex: 1 1 50%;
  height: 45vw;
  background: center center;
  background-color: #ffffff;
  background-size: cover;
  overflow: hidden;
}

.team-card {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  margin: 20px;
  height: 20vw;
  background: center center;
  background-color: #ffffff;
  background-size: cover;
  overflow: hidden;
}


.post-feed {
  align-items: center;
  flex-wrap: wrap;
}

.employee-name {
  font-size: 1.5rem;
}

.blurb-card-content {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 100px;
  color: #131313;
  opacity: 1;
  transition: opacity 0.5s cubic-bezier(0.33, 0, 0.2, 1);

  h1 {
    font-size: 3rem;
    font-weight: 700;
    font-family: 'PT Sans', sans-serif;
  }

  h2 {
    font-size: 2rem;
    font-weight: 700;
    font-family: 'PT Sans', sans-serif;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'PT Sans', sans-serif;
  }

  ul {
    list-style: circle;
  }

  .btn {
    margin-top: 10px;
    margin-bottom: 25px;
    // a {
    //   // background-color: #bfc800;
    //   // padding: 10px 25px;
    //   // border-radius: 5px;
    //   // color: #fff;
    //   // font-weight: 700;
    // }
  }
}

.has-background-teal {
  background-color: #009397 !important;
}

.content .taglist {
  list-style: none;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 1.5rem;
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  li{
    padding: 0 2rem 1rem 0;
    margin-bottom: 1.5rem;
    margin-top: 0;
  }
}
// Helper Classes
.full-width-image-container {
  width: 100vw;
  height: 500px;
  position: relative;
  left: 50%;
  right: 50%;
  margin: 2em -50vw;
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}
.full-width-image{
    width: 100vw;
    height: 400px;
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 90px;
}

.btn {
    display: inline-block;
    padding: 12px 16px 10px;
    font-size: 18px;
    font-size: 1rem;
    line-height: 1.25;
    background-color: #bfc800;
    border-radius: .25rem;
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    -webkit-box-shadow: inset 0 0 0 2px #bfc800;
    box-shadow: inset 0 0 0 2px #bfc800;
    -webkit-transition: all .15s ease;
    transition: all .15s ease;
    a {
      color: #fff;
    }
}

.margin-top-0 {
  margin-top: 0 !important;
}
.navbar-item .icon {
  color: $primary;
// Override for use of svg's from https://simpleicons.org/
}

.heading-text {
  font-family: 'PT Sans', sans-serif;
}

a.nav-links {
  color: #f5f5f5a6;
  font-family: 'PT Sans', sans-serif;
}

.icon svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: currentColor;
}
.navbar-brand .navbar-item.logo {
  padding: 0 1rem;
}
footer.footer {
  padding: 3rem 0rem 0rem;
  background-color: transparent;
}

//Menu overrides
$menu-item-color: $white-ter;
$menu-item-hover-color: $black !important;
$menu-item-hover-background-color: $black;
$menu-item-active-color: $kaldi-red-invert;
$menu-item-active-background-color:	$kaldi-red-invert;
$menu-list-border-left: 1px solid $kaldi-red-invert;
$menu-label-color: $white-ter;


.menu-label {
  font-size: 1em !important;
  text-align: left;
}
.menu-list {
  list-style: none !important;
  text-align: left;
  }
.social {
  padding: 2em;
  margin-top: 40px;
}

.section {
  min-height: 62vh;
}
.social a {
    padding: .5em .5em .3em .5em;
    border-radius: 1em;
    background-color: $white-ter;
    margin: .5em;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    display: inline;
}

.social .menu-list a {
  background-color: transparent;
}

.nav-social {
  padding: 2em;
  align-items: center !important;
}

.nav-social a {
    padding: .5em .5em .3em .5em;
    border-radius: 1em;
    background-color: $white-ter;
    margin: .5em;
    width: 2em;
    height: 2em;
    vertical-align: middle;
    display: inline;
}

.footer-heading {
  font-family: 'PT Sans';
  font-size: 1.25rem;
}

.footer-spacer {
  margin-bottom: 15px;
}

// blog roll
.blog-list-item.is-featured {
  background-color: #d6400033;
}
.blog-list-item header {
  display: flex;
  margin-bottom: 1em;
}
.blog-list-item .featured-thumbnail {
  flex-basis: 35%;
  margin: 0 1.5em 0 0;
}


@import "~bulma";

a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover, a.navbar-item.is-active {
  background-color: #006479;
  color: #f5f5f7;
}

.menu-list a:hover {
  color: #f5f5f7 !important;
}

.navbar-burger {
  color: #f5f5f7;
  margin-top: 55px;
  margin-right: 20px;
}

.navbar-burger span:nth-child(1){
  top: calc(50% - 10px);
}

.navbar-burger span:nth-child(2){
  top: calc(50% - 2px);
}

.navbar-burger span:nth-child(3){
  top: calc(50% + 6px);
}

.navbar-burger.is-active span:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.navbar-burger span {
  height: 3px;
  left: calc(50% - 15px);
  width: 30px;
}

.content p:not(:last-child), .content ul:not(:last-child) {
  margin-bottom: 0px; 
}

@media screen and (max-width: 1213px) {
  .team-card {
    flex: 1 1 100%;
    height: auto;
  }

  .photo {
    height: 70vh;
  }
}

@media screen and (max-width: 745px) {
  .photo {
    height: 45vh;
  }
}

@media screen and (max-width: 500px) {
  .photo {
    height: 30vh;
  }
}

@media screen and (max-width: 400px) {
  .photo {
    height: 20vh;
  }
}

@media screen and (max-width: 700px) {
  .blurb-card {
    flex: 1 1 100%;
    height: 90vw;
  }
}

@media screen and (max-width: 950px) {
  .blurb-card-content {
    margin: 75px;
  }
}

@media screen and (max-width: 1023px) {
  .navbar-menu {
    background-color: transparent;
  }
  .logo-container {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .mobile-logo-container {
  display: none;
  }
}

@media screen and (min-width: 700px) {
  .blurb-divider-bar {
    display: none;
  }
}

// responsiveness
+tablet-only {
  .blog-list-item .featured-thumbnail {
    flex-basis: 50%;
  }
}
+mobile{
  .blog-list-item header {
    display: block;
  }
  .blog-list-item .featured-thumbnail {
    text-align: center;
    max-width: 70%;
    margin: 0 0 1em;
  }
}
